body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



.nvbar a{
    width: fit-content;
    flex: content;
    padding-left: 5vw;
    font-size: 4vw;
    text-align: center;
    align-content: space-between;
    color: cyan;
    text-decoration: none;
}

.nav-icon {
    color: white;
    width: fit-content;
    padding-left: 1vw;
    padding-right:15vw;
    font-size: 5vw;

}
.nav-icon input {
    width: 30vw;
    height: 4vw;
    margin-bottom: 3vw;
    font-size: 3vw;

}
.container div{
    display: contents;
    color:black;
    text-align: left;
}
.cart{
    display: contents;
    background-color: rgb(109, 15, 15);
    border-radius: 5px ;
}
.table-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th, td {
    text-align: center;
}