<!DOCTYPE html>
<html dir="rtl" lang="ar">

</html>

<head>
    <meta charset="utf-8">
    <title>confermation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='confermation.css') }}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.flipster.min.css') }}">
</head>
<body>
    <div>
        <ul>
            <h2>تم ارسال طلب الشراء سيتم الاتصال بك في اقرب وقت على رقم الهاتف المرفق لتاكيد طلبيتك</h2>
            <li><h3>{{name}} </h3></li>
            <li><h3>{{phone}} </h3></li>
            <li><h3>{{addrs}}</h3></li>
            <li><h3>{{wilaya}}</h3></li>
        </ul>
        
    </div>
</body>