<!DOCTYPE html>
<html dir="rtl" lang="ar">

</html>

<head>
    <meta charset="utf-8">
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" href="/static/product.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.flipster.min.css') }}">
</head>

<body>
    <div class="product">
        <h2><span>المنتج : <br></span>{{ product.product_name }} <span id="n-id">{{id}} </span></h2>
        <div class="show-img">
            
            <div class="images">
                {% for image in product.img %}
                        <img id="images" src='{{image}}' alt="you dont have image">
                    {% endfor %}
                </div>
            
        </div>
        <div class="product-info">
            <ul>
                <li>
                    <p><span> موصفات المنتج: <br> </span> {{product.info}} </p>
                </li>
                <li>
                    <p><span>الكمية المتوفرة: <br> </span> {{ product.qnt }}</p>
                </li>
                <li>
                    <p><span>السعر: <br> </span> {{ product.price }} DA</p>
                </li>
            </ul>
        </div>
        <br>
        <a href="{{url_for('request', id=id)}}"><span>طلب المنتج</span></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{{ url_for('static', filename='jquery.flipster.min.js') }}"></script>
<script>
    $('.show-img').flipster({
        stayle:"carousel",
        spacing:-0.2,
    });
        

</script>
</body>

</html>